.card_container {
	position: relative;
	border: 3px solid #3e4357;
	border-radius: 10px;
	width: 350px;
	height: 500px;
	display: flex;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.card_img {
	min-width: 100%;
	min-height: 100%;
	transition: opacity 0.9s;
}

video {
	display: none;
	width: 100%;
	height: auto;
}

.card_container:hover .card_img {
	opacity: 0;
}

.card_container:hover video {
	display: block;
}
